extends layout

block content
  div(class="container")
    h1= title

<<<<<<< HEAD
  if user.name
    p Du heter #{user.displayName}
    p Du har epost: #{user.email}
    
  p Du er logget inn
  p Min side

  p Endre displayname
  form(action="mypage" method="post" autocomplete="on")
    label Brukernavn:
      input(type="text" name="name")
    button(type="submit") Sånn, endre navn!
=======
    if user.name
      p Du heter #{user.name}
    p Du er logget inn
    p Min side
>>>>>>> d1c8a6ef34556f49931c4ccfc08587c0ee9563e1
