extends layout

block content
  div(class="container")
    h1= title

    if user
      h5 Personlig info:
      if user.displayName 
        p Navn <strong> #{user.displayName} </strong>
      else
        p Du har ikke lagt inn navnet ditt ennå. Gjør det nederst
      p Epost: <strong> #{user.email} </strong>
      p Endre info:
      form(action="/updateprofile" method="post")
        label Navn:
          input(type="text" name="name")
        button(type="submit") Sånn, endre navn!
