extends layout

block content
  div(class="container")
    h1= title

    h2 Reset password
    form(action="/reset-password" method="post" autocomplete="on")
      label Epost
        input(type="email" name="emailAddress")
      button(type="submit") Reset
