extends layout

block content
  div(class="container")
    h1= title

    if user
      p Velkommen til #{user.name}

    if rooms
      each val, index in rooms
        li
          a(href='/room/' + index)= val.name
