extends layout

block content
  div(class="container" style="display: flex; flex-direction: column; justify-content: center; min-height: 100vh;")
    //- h1= title

    if user
      div(id="room-app")

    if !user
      div(class="col-lg-6 offset-lg-3 jp-login")
        h2(class="text-center jp-login__title") Logg inn
        form(action="/login?room=" + roomId method="post" autocomplete="on")
          label(class="w-100")
            span(class="sr-only") Epost
            input(class="w-100 jp-login__input" type="email" name="email" placeholder="Epost")
          label(class="w-100")
            span(class="sr-only") Passord
            input(class="w-100 jp-login__input" type="password" name="password" placeholder="Passord")

          div(class="d-flex mb-4")
            label(class="flex-fill")
              input(type="checkbox")
              span Husk meg
            a(href="/reset-password") Glemt passord?

          button(type="submit" class="btn btn-primary jp-login__btn mb-3") Logg inn

        p Hvis du ikke har en bruker allerede kan du <a href="/signup">opprette en bruker!</a>

  if user
    script(type="application/json").
      {
        "user": {
          "uid": "#{user.uid}",
          "email": "#{user.email}"
        },
        "room": {
          "endpoint": "/#{roomId}"
        }
      }
    script(src="/room.js")
