extends layout

block content
  h1= title

  if user
    div(id="room-app")
    script(type="application/json").
      {
        "user": {
          "uid": "#{user.uid}",
          "email": "#{user.email}"
        },
        "room": {
          "endpoint": "/#{roomId}"
        }
      }
    script(src="/room.js")
  else
    p Da er det bare å logge seg inn

    form(action="/login?room=" + roomId method="post" autocomplete="on")
      label Epost
        input(type="email" name="email")
      label passord
        input(type="password" name="password")
      button(type="submit") Logg inn

    p Hvis du ikke har en bruker allerede kan du <a href="/signup">opprette en bruker!</a>
