extends layout

block content
  h1= title

  if user
    p socket.io chat
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script.
      $(function () {
        var socket = io('/#{roomId}');
        $('form').submit(function(e){
          e.preventDefault(); // prevents page reloading
          socket.emit('chat message', $('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
        });
      });
    script(src="/room.js")
  else
    p Da er det bare å logge seg inn

    form(action="/login?room=" + roomId method="post" autocomplete="on")
      label Epost
        input(type="email" name="email")
      label passord
        input(type="password" name="password")
      button(type="submit") Logg inn

    p Hvis du ikke har en bruker allerede kan du <a href="/signup">opprette en bruker!</a>
